[submodule "frontend_webapp"]
	path = frontend_webapp
	url = https://github.com/sceneXtras/frontend_webapp.git
[submodule "golang_search_engine"]
	path = golang_search_engine
	url = https://github.com/sceneXtras/golang_search_engine.git
[submodule "golang_auth_gateway"]
	path = golang_auth_gateway
	url = https://github.com/sceneXtras/golang_auth_gateway.git
[submodule "automations"]
	path = automations
	url = https://github.com/sceneXtras/automations.git
[submodule "sceneXtras"]
	path = sceneXtras
	url = https://github.com/Securiteru/sceneXtras.git
[submodule "website-backoffice"]
	path = website-backoffice
	url = https://github.com/Securiteru/website-backoffice
[submodule "bug-report"]
	path = bug-report
	url = https://github.com/sceneXtras/bug-report-api.git
[submodule "eu_leapfrog_repo"]
	path = eu_leapfrog_repo
	url = https://github.com/sceneXtras/eu_leapfrog_repo
[submodule "MCPs"]
	path = MCPs
	url = https://github.com/sceneXtras/MCPs.git
[submodule "posthog_ops"]
	path = posthog_ops
	url = https://github.com/sceneXtras/sx_ops.git
[submodule "golang_transcription_service"]
	path = golang_transcription_service
	url = https://github.com/sceneXtras/golang_transcriber_engine.git
